# SERVER PORT
PORT=3000

# REDDIT API INFO
REDDIT_API_URL=https://www.reddit.com/api/v1
REDDIT_CLIENT_ID=<reddit client ID>
REDDIT_CLIENT_SECRET=<reddit client secret>
REDDIT_DEV_USER=<reddit dev user>
REDDIT_DEV_PWD=<reddit dev password>
